<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Setup</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <p>
        {{settings?.appname}}<br>
        {{settings?.identity?.lastname}}<br>
        {{settings?.identity?.firstname}}<br>
        {{settings?.identity?.compagny}}<br>
        {{settings?.identity?.adressline1}}<br>
        {{settings?.identity?.adressline2}}<br>
        {{settings?.identity?.postalcode}}<br>
        {{settings?.identity?.locality}}<br>
        {{settings?.identity?.phonenumber}}<br>
        {{settings?.identity?.email}}<br>
        {{settings?.langage}}
      </p>
    </ion-item>
  </ion-list>
</ion-content>